<footer class="footer-area">
            <div class="container">
                
                
                <div class="footer-bottom" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                <span class="copyright-text">© 2022. Tous droits réservés à <a href="https://lunari.ch/">Lunari.ch</a>.</span>
                                {# <span class="copyright-text">© Réalisation par <a href="https://sooft.ch/">Sooft.ch</a>.</span> #}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-bottom-link">
                                <ul class="list-unstyled">
                                    <li><a href="privacy-policy.html">Politique de confidentialité</a></li>
                                    <li><a href="terms-of-use.html">Termes et conditions d'utilisations</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
